# Node modules
node_modules/

# Environment variables

.env
.env.*

# API code
src/utils/api.js

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# Build output
dist/
build/

# IDE settings
.vscode/
.idea/

# Misc
*.local
